@import url("./fonts.css");

:root {
    --lightBlue: #f1f0f4;
    --darkBlue: #3b2466;
    --darkGray: #1a1a1a;
    --mainGreen: #4db748;
    --borderColor: #cccbcb;
    --placeHolder: #808080;
    --optionalColor: #b3b2b3;
    --red: #eb2027;
    --Bold: "HelveticaNeueLT Arabic 75";
    --Roman: "HelveticaNeueLT Arabic 55 Roman";
}
html {
    direction: rtl;
}

body {
    font-family: "HelveticaNeueLT Arabic 55 Roman";
    text-align: right;
}

.bgLightBlue {
    background: var(--lightBlue);
}

.coloDarkBlue {
    color: var(--darkBlue);
}

h4 {
    line-height: 1.5;
}

.title {
    background: var(--lightBlue);
    font-family: var(--Bold);
}

.pageContent {
    margin-top: 30px;
}

.pageContent .bgLightBlue .active {
    border-radius: 0;
    background: var(--darkBlue);
}

.pageContent .bgLightBlue a {
    color: var(--darkBlue);
    font-family: var(--Bold);
}

.btn-green {
    background: var(--mainGreen);
}

/* Form */
.form-input {
    height: 61px;
}

input {
    color: var(--darkGray) !important;
    font-family: var(--Bold);
}

::placeholder {
    color: var(--placeHolder);
    font-family: var(--Roman);
}

.form-file {
    height: 150px;
    width: 150px;
}

.custom-border {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    height: 150px;
    border: 1px solid var(--borderColor);
}

.change {
    width: 150px;
}

.change label {
    font-family: var(--Roman);
    color: var(--mainGreen);
    text-decoration: underline;
    cursor: pointer;
    line-height: 34px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    padding: 17px;
    height: unset;
    border-color: var(--borderColor);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    color: var(--darkGray) !important;
    position: relative;
}
.selectInput i {
    position: absolute;
    top: 24px;
    left: 30px;
    pointer-events: none;
}

.textarea-label p {
    color: var(--optionalColor);
}

.offset-right-1 {
    margin-right: 8.33333333%;
}

form label {
    color: var(--darkBlue);
    font-family: var(--Bold);
    line-height: 48px;
}

form button {
    height: 61px;
    font-size: 18px !important;
}

/* JOB-TAB */

.job-tab .custom-nav {
    border-bottom: 1px solid var(--mainGreen);
}

.job-tab .custom-nav li {
    width: 33.33%;
    color: var(--darkGray);
}
.job-tab .custom-nav li a {
    text-align: center;
    color: var(--darkGray);
    font-size: 20px;
    line-height: 60px;
    padding: 0;
    padding-bottom: 10px;
}
.job-tab .custom-nav li a.active {
    font-family: var(--Bold);
    background: transparent;
    color: var(--darkGray);
    font-size: 24px;
    border-bottom: 5px solid var(--mainGreen);
    border-radius: 0;
    padding: 0;
    padding-bottom: 10px;
}
.job-content {
    width: 90%;
    flex-wrap: wrap;
}
.job-content .parent {
    flex-wrap: wrap;
}

.job-content .custom-card {
    flex-direction: row;
    width: 48%;
    color: var(--darkGray);
    border-color: var(--borderColor);
}

.job-content .custom-card .head-card {
    height: 70px;
    border-bottom: 1px solid var(--borderColor);
}

.job-content .custom-card .head-card .silver-ads,
.job-content .custom-card .head-card .status {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 13px;
    width: 120px;
    height: 24px;
}

.job-content .custom-card .head-card .status {
    width: 130px;
    top: 24px;
}

.job-content .custom-card .head-card .status .tag {
    background: var(--lightBlue);
    border-radius: 12px;
    font-family: var(--Bold);
    color: var(--darkBlue);
}

.job-content .custom-card .head-card .silver-ads img {
    position: absolute;
    left: -10px;
    top: -4px;
}

.job-content .custom-card .head-card .silver-ads .tag {
    width: 120px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(43, 92, 169, 1) 0%, rgba(46, 157, 190, 1) 46%, rgba(48, 72, 157, 1) 80%);
}

.job-content .custom-card .job-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
}

.job-content .custom-card .job-info .job-title {
    font-size: 16px;
    font-family: var(--Bold);
}

.job-content .custom-card .job-info .employer {
    font-size: 14px;
    font-family: var(--Roman);
}

.job-content .custom-card .job-info .location i {
    font-size: 1.3rem;
    line-height: 27px;
}

.job-content .custom-card .job-info .location span {
    font-size: 12px;
    line-height: 27px;
    vertical-align: bottom;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.footer-card .date {
    font-size: 12px;
    line-height: 26px;
}

.footer-card .card-links {
    font-size: 12px;
    line-height: 26px;
    width: 180px;
}

.footer-card .stop {
    color: var(--mainGreen);
}

.footer-card .remove {
    color: var(--red);
}

/* ADD-ADS */

.steps .step-title {
    font-size: 20px;
    font-family: var(--Bold);
    background: var(--mainGreen);
}

.steps .optional label {
    line-height: 34px;
    margin: 0;
}

.steps .optional p {
    color: var(--optionalColor);
}

.steps .selectInput {
    width: 30%;
    position: relative;
}

.steps .date i {
    left: 15px;
}

.checkLabel {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 4px;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkLabel:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkLabel input:checked ~ .checkmark {
    background-color: var(--mainGreen);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkLabel input:checked ~ .checkmark:after {
    display: block;
}

.checkLabel .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio-label > label{
    color: var(--darkGray);
    font-size: 18px;
}

.radioLabel {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark-radio {
    position: absolute;
    top: 16px;
    right: 3px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--mainGreen);
    border-radius: 50%;
}

.radioLabel:hover input ~ .checkmark-radio {
    background: #eeeeee;
}

.radioLabel input:checked ~ .checkmark-radio {
    background: #fff;
}

.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.radioLabel input:checked ~ .checkmark-radio:after {
    display: block;
}

.radioLabel .checkmark-radio:after {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--mainGreen);
}
