@import url("./fonts.css");

:root {
    --lightBlue: #f1f0f4;
    --darkBlue: #3b2466;
    --darkGray: #1a1a1a;
    --mainGreen: #4db748;
    --borderColor: #cccbcb;
    --placeHolder: #808080;
    --optionalColor: #b3b2b3;
    --ligheBack: #e6e2ea;
    --red: #eb2027;
    --Bold: "HelveticaNeueLT Arabic 75";
    --Roman: "HelveticaNeueLT Arabic 55 Roman";
}
html {
    direction: rtl;
}

body {
    font-family: "HelveticaNeueLT Arabic 55 Roman";
    text-align: right;
}

.bgLightBlue {
    background: var(--lightBlue);
}

.coloDarkBlue {
    color: var(--darkBlue);
}

h4 {
    line-height: 1.5;
}

a:hover {
    text-decoration: none;
}

.title {
    background: var(--lightBlue);
    font-family: var(--Bold);
}

.pageContent {
    margin-top: 30px;
}

.pageContent .bgLightBlue .active {
    border-radius: 0;
    background: var(--darkBlue);
}

.pageContent .bgLightBlue a {
    color: var(--darkBlue);
    font-family: var(--Bold);
}

.btn-green {
    background: var(--mainGreen);
}

/* Form */
.form-input {
    height: 61px;
}

input {
    color: var(--darkGray) !important;
    font-family: var(--Bold);
}

::placeholder {
    color: var(--placeHolder);
    font-family: var(--Roman);
}

.form-file {
    height: 150px;
    width: 150px;
}

.custom-border {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    height: 150px;
    border: 1px solid var(--borderColor);
}

.change {
    width: 150px;
}

.change label {
    font-family: var(--Roman);
    color: var(--mainGreen);
    text-decoration: underline;
    cursor: pointer;
    line-height: 34px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    padding: 17px;
    height: unset;
    border-color: var(--borderColor);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    color: var(--darkGray) !important;
    position: relative;
}
.selectInput i {
    position: absolute;
    top: 24px;
    left: 30px;
    pointer-events: none;
}

.textarea-label p {
    color: var(--optionalColor);
}

.offset-right-1 {
    margin-right: 8.33333333%;
}

form label {
    color: var(--darkBlue);
    font-family: var(--Bold);
    line-height: 48px;
}

form button {
    height: 61px;
    font-size: 18px !important;
}

/* JOB-TAB */

.job-tab .custom-nav {
    border-bottom: 1px solid var(--mainGreen);
}

.job-tab .custom-nav li {
    width: 33.33%;
    color: var(--darkGray);
}
.job-tab .custom-nav li a {
    text-align: center;
    color: var(--darkGray);
    font-size: 20px;
    line-height: 60px;
    padding: 0;
    padding-bottom: 10px;
}
.job-tab .custom-nav li a.active {
    font-family: var(--Bold);
    background: transparent;
    color: var(--darkGray);
    font-size: 24px;
    border-bottom: 5px solid var(--mainGreen);
    border-radius: 0;
    padding: 0;
    padding-bottom: 10px;
}
.job-content {
    width: 90%;
    flex-wrap: wrap;
}
.job-content .parent {
    flex-wrap: wrap;
}

.job-content .custom-card {
    flex-direction: row;
    width: 48%;
    color: var(--darkGray);
    border-color: var(--borderColor);
}

.job-content .custom-card .head-card {
    height: 70px;
    border-bottom: 1px solid var(--borderColor);
}

.job-content .custom-card .head-card .silver-ads,
.job-content .custom-card .head-card .status {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 13px;
    width: 120px;
    height: 24px;
}

.job-content .custom-card .head-card .status {
    width: 130px;
    top: 24px;
}

.job-content .custom-card .head-card .status .tag {
    background: var(--lightBlue);
    border-radius: 12px;
    font-family: var(--Bold);
    color: var(--darkBlue);
}

.job-content .custom-card .head-card .silver-ads img {
    position: absolute;
    left: -10px;
    top: -4px;
}

.job-content .custom-card .head-card .silver-ads .tag {
    width: 120px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(43, 92, 169, 1) 0%, rgba(46, 157, 190, 1) 46%, rgba(48, 72, 157, 1) 80%);
}

.job-content .custom-card .job-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
}

.job-content .custom-card .job-info .job-title {
    font-size: 16px;
    font-family: var(--Bold);
}

.job-content .custom-card .job-info .employer {
    font-size: 14px;
    font-family: var(--Roman);
}

.job-content .custom-card .job-info .location i {
    font-size: 1.3rem;
    line-height: 27px;
}

.job-content .custom-card .job-info .location span {
    font-size: 12px;
    line-height: 27px;
    vertical-align: bottom;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.footer-card .date {
    font-size: 12px;
    line-height: 26px;
}

.footer-card .card-links {
    font-size: 12px;
    line-height: 26px;
    width: 180px;
}

.footer-card .stop {
    color: var(--mainGreen);
}

.footer-card .remove {
    color: var(--red);
}

/* ADD-ADS */

.steps .step-title {
    font-size: 20px;
    font-family: var(--Bold);
    background: var(--mainGreen);
}

.steps .optional label {
    line-height: 34px;
    margin: 0;
}

.steps .optional p {
    color: var(--optionalColor);
}

.steps .selectInput {
    width: 30%;
    position: relative;
}

.steps .date i {
    left: 15px;
}

.checkLabel {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 4px;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkLabel:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkLabel input:checked ~ .checkmark {
    background-color: var(--mainGreen);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkLabel input:checked ~ .checkmark:after {
    display: block;
}

.checkLabel .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio-label > label {
    color: var(--darkGray);
    font-size: 18px;
}

.radioLabel {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark-radio {
    position: absolute;
    top: 16px;
    right: 3px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--mainGreen);
    border-radius: 50%;
}

.radioLabel:hover input ~ .checkmark-radio {
    background: #eeeeee;
}

.radioLabel input:checked ~ .checkmark-radio {
    background: #fff;
}

.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.radioLabel input:checked ~ .checkmark-radio:after {
    display: block;
}

.radioLabel .checkmark-radio:after {
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--mainGreen);
}

/* JOB-DETAILED */

.job-detailed {
    margin-top: 60px;
}

.job-detailed .head-section {
    width: 100%;
}

.job-detailed .head-section .employer-logo {
    width: 80px;
    height: 80px;
}

.job-detailed .head-section .job-info {
    margin-right: 90px;
}

.job-detailed .head-section .job-info > div {
    height: 80px;
}

.job-detailed .head-section .job-info .job-title {
    font-family: var(--Bold);
}

.job-detailed .head-section .silver-ads {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 13px;
    width: 120px;
    height: 24px;
}

.job-detailed .head-section .silver-ads img {
    position: absolute;
    left: -10px;
    top: -4px;
}

.job-detailed .head-section .silver-ads .tag {
    width: 120px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(43, 92, 169, 1) 0%, rgba(46, 157, 190, 1) 46%, rgba(48, 72, 157, 1) 80%);
}

.job-detailed .highlighted-section {
    background: var(--ligheBack);
    font-size: 16px;
}

.job-detailed .highlighted-section .location-name {
    color: var(--darkBlue);
}

.job-detailed .highlighted-section .data-row {
    width: 60%;
}

.job-detailed .highlighted-section .data-row .data-column {
    height: 80px;
}

.job-detailed .highlighted-section .data-row .data-column .job-detailes {
    margin-right: 40px;
}

.job-detailed .highlighted-section .data-row .data-column .job-detailes .key {
    color: var(--darkGray);
}

.job-detailed .highlighted-section .data-row .data-column .job-detailes .value {
    color: var(--darkBlue);
}

.job-detailed .footer-section {
    font-family: var(--Bold);
    font-size: 18px;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 30px;
}

.job-detailed .footer-section .requirments {
    line-height: 34px;
    width: 70%;
}

.job-detailed .footer-section .decimal {
    list-style-type: decimal;
    padding: 0px 18px;
}

.job-detailed .footer-section .decimal .list {
    margin-top: 10px;
}

.job-detailed .footer-section .actions {
    width: 35%;
    margin-top: 90px;
    font-family: var(--Roman);
}

.job-detailed .footer-section .actions a {
    line-height: 40px;
}

.job-detailed .footer-section .actions .stop {
    color: var(--mainGreen);
}

.job-detailed .footer-section .actions .remove {
    color: var(--red);
}

/* EMPLOYER PROFILE */

.employer-profile {
    margin-top: 60px;
}

.employer-profile {
    margin-top: 60px;
}

.employer-profile .head-section {
    height: 120px;
    border-bottom: 1px solid var(--borderColor);
}

.employer-profile .head-section .employer-logo {
    width: 80px;
    height: 80px;
}

.employer-profile .head-section .employer-info {
    margin-right: 90px;
}

.employer-profile .head-section .employer-info .employer-name {
    font-family: var(--Bold);
}

.employer-profile .head-section .employer-info .location {
    color: var(--darkBlue);
}

.employer-profile .body-section {
    width: 80%;
}

.employer-profile .jobs-section {
    width: 100%;
}

.employer-profile .jobs-section .jobs-cards {
    flex-wrap: wrap;
    width: 90%;
}

.employer-profile .jobs-section .title {
    font-size: 24px;
    color: var(--darkBlue);
    padding: 8px 20px;
}

.employer-profile .jobs-section .jobs-cards .custom-card {
    width: 32%;
}

.employer-profile .jobs-section .jobs-cards .custom-card .head-card {
    height: 70px;
    border-bottom: 1px solid var(--borderColor);
}

.employer-profile .jobs-section .jobs-cards .custom-card .job-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
}

.employer-profile .jobs-section .jobs-cards .custom-card .job-info .job-title {
    font-size: 16px;
    font-family: var(--Bold);
}

.employer-profile .jobs-section .jobs-cards .custom-card .job-info .employer {
    font-size: 14px;
    font-family: var(--Roman);
}

.employer-profile .jobs-section .jobs-cards .custom-card .job-info .location i {
    font-size: 1.3rem;
    line-height: 27px;
}

.employer-profile .jobs-section .jobs-cards .custom-card .job-info .location span {
    font-size: 12px;
    line-height: 27px;
    vertical-align: bottom;
}

.employer-profile .jobs-section .jobs-cards .custom-card .footer-card .card-links {
    width: auto;
}

/* job-detailed-submit */

.job-detailed .job-submit > a {
    padding: 10px 51px;
    font-family: var(--Bold);
}

.job-detailed .job-date {
    font-size: 12px;
    height: 44px;
}

.job-detailed.job-submited .actions {
    font-family: var(--Bold);
    width: 60%;
    margin-top: 50px;
}

.job-detailed.job-submited .actions a {
    padding: 2px 46px;
    font-size: 16px;
}

.job-detailed.job-submited .actions .show-eamil {
    border: 1px solid var(--mainGreen);
    color: var(--mainGreen);
}

/* SECTIONS */

.sections {
    margin-top: 90px;
}

.sections .search-section .searchInput {
    font-size: 18px;
    padding: 29px 60px;
    font-family: var(--Roman);
    color: var(--darkGray);
    width: 73%;
}

.sections .search-section form {
    width: 60%;
    position: relative;
}

.sections .search-section form i {
    position: absolute;
    font-size: 28px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    transform: rotate3d(0, 1, 0, 180deg);
    color: var(--placeHolder);
}

.sections .search-section form .searchBtn {
    width: 25%;
    background: var(--darkBlue);
    height: 60px;
}

.sections .search-section form .searchInput::placeholder {
    font-size: 16px;
}

.sections .jobs-sections {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}

.sections .jobs-sections .job-card {
    height: 120px;
    margin-bottom: 20px;
}

.sections .jobs-sections .job-card .job-number {
    font-size: 30px;
    color: var(--mainGreen);
}

.sections .jobs-sections .job-card .job-name {
    font-size: 16px;
    color: var(--darkGray);
    font-family: var(--Bold);
}

.sections .pagination {
    width: 33%;
    margin: 0 auto;
    margin-top: 60px;
    height: 35px;
    align-items: center;
}

.sections .pagination .prev,
.sections .pagination .next {
    color: var(--mainGreen);
}

.sections .pagination .prev i,
.sections .pagination .next i {
    font-size: 24px;
}

.sections .pagination .page-numbers a {
    font-family: var(--Bold);
    color: var(--darkBlue);
    width: 35px;
    text-align: center;
    height: 35px;
    line-height: 30px;
}
.sections .pagination .page-numbers a.active {
    background: var(--mainGreen);
    color: #fff;
    border-radius: 50%;
}

/* JOBS */

.jobs {
    margin-top: 90px;
}

.jobs .title a {
    color: var(--mainGreen);
    font-size: 14px;
    font-family: var(--Bold);
    margin-top: 11px;
}

.jobs .job-search {
    border-bottom: 1px solid var(--borderColor);
}

.jobs .job-search form {
    padding: 40px 0px;
    position: relative;
    width: 68%;
    font-size: 14px;
}

.jobs .job-search form .section {
    position: relative;
    width: 24%;
}

.jobs .job-search form .section button {
    background: var(--darkBlue);
    font-family: var(--Bold);
}

.jobs .job-search form .section select {
    height: 44px;
}

.jobs .job-search form .section i {
    position: absolute;
    top: 14px;
    left: 15px;
}

.jobs .jobs-result {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
}

.jobs .jobs-result .custom-card {
    margin-bottom: 20px;
}

.jobs .jobs-result .custom-card p {
    position: absolute;
    top: 0;
    left: 10px;
    background: var(--darkBlue);
    padding: 5px 15px;
    font-family: var(--Bold);
    font-size: 12px;
}

.jobs .jobs-result .custom-card .head-card {
    height: 70px;
    border-bottom: 1px solid var(--borderColor);
}

.jobs .jobs-result .custom-card .job-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
}

.jobs .jobs-result .custom-card .job-info .job-title {
    font-size: 16px;
    font-family: var(--Bold);
}

.jobs .jobs-result .custom-card .job-info .employer {
    font-size: 14px;
    font-family: var(--Roman);
}

.jobs .jobs-result .custom-card .job-info .location i {
    font-size: 1.3rem;
    line-height: 27px;
}

.jobs .jobs-result .custom-card .job-info .location span {
    font-size: 12px;
    line-height: 27px;
    vertical-align: bottom;
}

.jobs .jobs-result .custom-card .footer-card .card-links {
    width: auto;
}

.jobs .pagination {
    width: 33%;
    margin: 0 auto;
    margin-top: 60px;
    height: 35px;
    align-items: center;
}

.jobs .pagination .prev,
.jobs .pagination .next {
    color: var(--mainGreen);
}

.jobs .pagination .prev i,
.jobs .pagination .next i {
    font-size: 24px;
}

.jobs .pagination .page-numbers a {
    font-family: var(--Bold);
    color: var(--darkBlue);
    width: 35px;
    text-align: center;
    height: 35px;
    line-height: 30px;
}
.jobs .pagination .page-numbers a.active {
    background: var(--mainGreen);
    color: #fff;
    border-radius: 50%;
}

/* ARTICLES */

.articles {
    margin-top: 90px;
}

.articles .articles-tab .custom-nav {
    border-bottom: 1px solid var(--mainGreen);
}

.articles .articles-tab .custom-nav li {
    width: 33.33%;
    color: var(--darkBlue);
}

.articles .articles-tab .custom-nav li a {
    text-align: center;
    color: var(--darkBlue);
    font-size: 20px;
    line-height: 60px;
    padding: 0;
    padding-bottom: 10px;
}

.articles .articles-tab .custom-nav li a.active {
    font-family: var(--Bold);
    background: transparent;
    color: var(--darkBlue);
    font-size: 24px;
    border-bottom: 5px solid var(--mainGreen);
    border-radius: 0;
    padding: 0;
    padding-bottom: 10px;
}

.articles .articles-content .article-item {
    margin-bottom: 50px;
}

.articles .articles-content .article-item .article-conten {
    height: 175px;
    margin-top: auto;
    margin-right: 30px;
}

.articles .articles-content .article-item .article-conten .article-title {
    font-size: 24px;
    color: var(--darkGray);
    font-family: var(--Bold);
}

.articles .articles-content .article-item .article-conten .read-more {
    background: var(--mainGreen);
    width: fit-content;
    padding: 10px 57px;
}

.articles .pagination {
    width: 38%;
    margin: 0 auto;
    margin-top: 60px;
    height: 35px;
    align-items: center;
}

.articles .pagination .prev,
.articles .pagination .next {
    color: var(--mainGreen);
}

.articles .pagination .prev i,
.articles .pagination .next i {
    font-size: 24px;
}

.articles .pagination .page-numbers a {
    width: 60%;
}

.articles .pagination .page-numbers a {
    font-family: var(--Bold);
    color: var(--darkBlue);
    width: 35px;
    text-align: center;
    height: 35px;
    line-height: 30px;
}

.articles .pagination .page-numbers a.active {
    background: var(--mainGreen);
    color: #fff;
    border-radius: 50%;
}

/* ARTILCE DETAILED */

.article-content {
    margin-top: 90px;
}

.article-content .content-title {
    font-size: 24px;
    font-family: var(--Bold);
}

.article-content img {
    margin: 0px 0px 20px 40px;
}

/* ABOUT */

.about-content {
    margin-top: 90px;
    width: 80%;
}

.about .about-content .section h4 {
    font-size: 24px;
    color: var(--darkBlue);
    font-family: var(--Bold);
}

/* CONTACTS */

.contacts {
    margin: 90px 0;
}

.contacts .address .contact,
.contacts .address .message {
    width: 47%;
}

.contacts .address .contact .contact-us {
    color: var(--darkGray);
    font-size: 14px;
    height: 140px;
}

.contacts .address .contact .contacts-map {
    height: 350px;
    margin-top: 50px;
}

.contacts .address .contact .contact-us a {
    color: var(--darkGray);
    font-size: 14px;
}

.contacts .address .contact .contact-us i {
    color: var(--mainGreen);
    font-size: 24px;
}

.contacts .address .contact .contact-us .location i {
    line-height: 44px;
}

.contacts .address .message h4 {
    font-size: 24px;
    color: var(--darkBlue);
    font-family: var(--Bold);
}

.contacts .address .message label {
    color: var(--darkGray);
    font-size: 14px;
}

.contacts .address .message button {
    margin-right: auto;
    padding: 0 70px;
}

.profile {
    margin: 90px 0;
}

.profile .aside-nav a {
    font-size: 18px;
    font-family: var(--Bold);
    color: var(--darkBlue);
}

.profile .aside-nav a.active {
    border-radius: 0;
    background: var(--darkBlue);
}

.profile .information-section .user-information h4 {
    font-size: 24px;
    color: var(--darkBlue);
    font-family: var(--Bold);
}

.profile .information-section .user-information p {
    font-size: 16px;
    color: var(--darkGray);
}

.profile .information-section .user-information .info,
.profile .information-section .user-information .info a {
    color: var(--darkBlue);
}

.profile .information-section .user-information .info .value {
    font-family: var(--Bold);
}

.profile .information-section .user-information .uploaded {
    width: 80%;
}

.profile .information-section .user-information .uploaded .text {
    color: var(--darkGray);
}

.profile .information-section .user-information .uploaded .left {
    width: 25%;
}

.profile .information-section .user-information .uploaded .left .view {
    color: var(--darkBlue);
    text-decoration: underline;
}

.profile .resume-section form .optional label {
    line-height: 34px;
    margin: 0;
}

.profile .resume-section form .optional p {
    color: var(--optionalColor);
}

.profile .resume-section form .custom-file-input,
.profile .resume-section form i {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 15px;
    cursor: pointer;
}
.profile .resume-section form i {
    border-right: 1px solid var(--borderColor);
    text-align: center;
    line-height: 60px;
    font-size: 34px;
}

/* HOME */

.home {
    margin: 90px 0;
}

.home .title a {
    color: var(--mainGreen);
    font-size: 14px;
    font-family: var(--Bold);
    margin-top: 11px;
}

.home .jobs {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
}

.home .jobs .custom-card {
    margin-bottom: 20px;
}

.home .jobs .custom-card .head-card {
    height: 70px;
    border-bottom: 1px solid var(--borderColor);
}

.home .jobs .custom-card .job-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
}

.home .jobs .custom-card .job-info .job-title {
    font-size: 16px;
    font-family: var(--Bold);
}

.home .jobs .custom-card .job-info .employer {
    font-size: 14px;
    font-family: var(--Roman);
}

.home .jobs .custom-card .job-info .location i {
    font-size: 1.3rem;
    line-height: 27px;
}

.home .jobs .custom-card .job-info .location span {
    font-size: 12px;
    line-height: 27px;
    vertical-align: bottom;
}

.home .jobs .custom-card .footer-card .card-links {
    width: auto;
}

.home .custom-card .head-card .silver-ads,
.home .custom-card .head-card .golden-ads,
.home .custom-card .head-card .platinum-ads,
.home .custom-card .head-card .bronze-ads {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 13px;
    width: 120px;
    height: 24px;
}

.home .custom-card .head-card .silver-ads img,
.home .custom-card .head-card .golden-ads img,
.home .custom-card .head-card .platinum-ads img,
.home .custom-card .head-card .bronze-ads img {
    position: absolute;
    left: -20px;
    top: -4px;
}

.home .custom-card .head-card .silver-ads .tag,
.home .custom-card .head-card .golden-ads .tag,
.home .custom-card .head-card .platinum-ads .tag,
.home .custom-card .head-card .bronze-ads .tag {
    min-width: 130px;
    height: 24px;
    position: absolute;
    border-radius: 12px;
}

.home .custom-card .head-card .silver-ads .tag {
    background: linear-gradient(90deg, rgba(43, 92, 169, 1) 0%, rgba(46, 157, 190, 1) 46%, rgba(48, 72, 157, 1) 80%);
}

.home .custom-card .head-card .golden-ads .tag {
    background: linear-gradient(90deg, rgba(202, 98, 39, 1) 0%, rgba(237, 121, 35, 1) 56%, rgba(184, 76, 23, 1) 100%);
}

.home .custom-card .head-card .platinum-ads .tag {
    background: linear-gradient(90deg, rgba(64, 64, 65, 1) 0%, rgba(128, 129, 132, 1) 46%, rgba(88, 89, 91, 1) 100%);
}

.home .custom-card .head-card .bronze-ads .tag {
    background: linear-gradient(90deg, rgba(61, 82, 37, 1) 0%, rgba(58, 79, 35, 1) 46%, rgba(30, 41, 21, 1) 80%);
}

.home .view-more {
    background: var(--mainGreen);
    padding: 10px 52px;
    font-family: var(--Bold);
}

.home .jobs-sections {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}

.home .jobs-sections .job-card {
    height: 120px;
    margin-bottom: 20px;
}

.home .jobs-sections .job-card .job-number {
    font-size: 30px;
    color: var(--mainGreen);
}

.home .jobs-sections .job-card .job-name {
    font-size: 16px;
    color: var(--darkGray);
    font-family: var(--Bold);
}

.home .articles-section .banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--darkBlue);
    opacity: 0.8;
}

.home .articles-section {
    margin: 100px 0;
}

.home .articles-section .banner {
    width: 32%;
}

.home .articles-section .banner img {
    width: 100%;
}

.home .articles-section .banner h3 {
    z-index: 2;
    font-family: var(--Bold);
    font-size: 34px;
}

.home .clients-section .logos {
    width: 85%;
}

.home .clients-section i {
    font-size: 60px;
    display: flex;
    width: 40px;
    justify-content: center;
}

/* LOGIN */

.login {
    margin: 60px 0;
}

.login .popup {
    height: 764px;
}

.login .popup .login-banner {
    height: 100%;
    width: 37%;
}

.login .popup .login-banner .intro-data {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.login .popup .login-banner .bullets {
    margin-top: 110px;
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.login .popup .login-banner .bullets li:before {
    content: "-";
    padding-left: 10px;
    font-family: var(--Bold);
}

.login .popup .signing {
    background: var(--lightBlue);
    width: 63%;
    height: 100%;
    padding: 20px 60px;
}

.login .popup .signing ul {
    padding: 0;
    width: 60%;
    border-bottom: 1px solid var(--mainGreen);
}

.login .popup .signing ul li {
    width: 50%;
    text-align: center;
}

.login .popup .signing ul li a {
    color: var(--darkGray);
    font-size: 18px;
    line-height: 40px;
}

.login .popup .signing ul li a.active {
    background: transparent;
    color: var(--darkGray);
    font-size: 22px;
    border-bottom: 4px solid var(--mainGreen);
    border-radius: 0;
    font-family: var(--Bold);
}

.login .popup .signing .signIn-content form button {
    font-size: 20px;
    font-family: var(--Bold);
}

.login .popup .signing form label {
    margin: 0;
}

.login .popup .signing .signIn-content .forgot a {
    color: var(--mainGreen);
    text-decoration: underline;
}

.login .popup .signing .divider {
    border-top: 1px solid var(--borderColor);
    margin-top: 30px;
    margin-bottom: 20px;
}

.login .popup .signing .social-login a span {
    font-family: var(--Bold);
    padding: 5px 15px;
}

.login .popup .signing .social-login a {
    height: 50px;
    width: 29%;
    display: flex;
    justify-content: space-between;
}

.login .popup .signing .social-login a i {
    width: 30%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.login .popup .signing .social-login a span {
    line-height: 40px;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.login .popup .signing .social-login .linkedIn span {
    background: #0074b1e6;
}

.login .popup .signing .social-login .linkedIn i {
    background: #0074b1;
    color: #fff;
}

.login .popup .signing .social-login .google span {
    background: #517bbce6;
}

.login .popup .signing .social-login .google img {
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.login .popup .signing .social-login .facebook span {
    background: #0074b1e6;
}

.login .popup .signing .social-login .facebook i {
    background: #0074b1;
    color: #fff;
}

.login .popup .signing .signUp-content .validate span {
    font-family: var(--Roman);
}
/* SIGNUP NEXT */

.signup-next {
    margin: 60px 0;
}

.signup-next .popup {
    height: 764px;
}

.signup-next .popup .login-banner {
    height: 100%;
    width: 37%;
}

.signup-next .popup .login-banner .intro-data {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.signup-next .popup .login-banner .bullets {
    margin-top: 110px;
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.signup-next .popup .login-banner .bullets li:before {
    content: "-";
    padding-left: 10px;
    font-family: var(--Bold);
}

.signup-next .popup .signing {
    background: var(--lightBlue);
    width: 63%;
    height: 100%;
    padding: 20px 60px;
}

.signup-next .popup .signing ul {
    padding: 0;
    width: 60%;
    border-bottom: 1px solid var(--mainGreen);
}

.signup-next .popup .signing ul li {
    width: 50%;
    text-align: center;
}

.signup-next .popup .signing ul li a {
    color: var(--darkGray);
    font-size: 18px;
    line-height: 40px;
}

.signup-next .popup .signing ul li a.active {
    background: transparent;
    color: var(--darkGray);
    font-size: 22px;
    border-bottom: 4px solid var(--mainGreen);
    border-radius: 0;
    font-family: var(--Bold);
}

.signup-next .popup .signing .signUp-content span {
    font-size: 14px;
}

.signup-next .popup .signing .signUp-content a i {
    line-height: 34px;
    font-size: 16px;
}

.signup-next .popup .signing .signUp-content .backBtn {
    margin: 30px 0;
    color: var(--mainGreen);

}

.signup-next .popup .signing .signUp-content form button {
    font-size: 20px;
    font-family: var(--Bold);
}

.signup-next .popup .signing form label {
    margin: 0;
}

.signup-next .popup .signing .signUp-content .forgot a {
    color: var(--mainGreen);
    text-decoration: underline;
}

.signup-next .popup .signing .divider {
    border-top: 1px solid var(--borderColor);
    margin-top: 30px;
    margin-bottom: 20px;
}

.signup-next .popup .signing .social-login a span {
    font-family: var(--Bold);
    padding: 5px 15px;
}

.signup-next .popup .signing .social-login a {
    height: 50px;
    width: 29%;
    display: flex;
    justify-content: space-between;
}

.signup-next .popup .signing .social-login a i {
    width: 30%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.signup-next .popup .signing .social-login a span {
    line-height: 40px;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.signup-next .popup .signing .social-login .linkedIn span {
    background: #0074b1e6;
}

.signup-next .popup .signing .social-login .linkedIn i {
    background: #0074b1;
    color: #fff;
}

.signup-next .popup .signing .social-login .google span {
    background: #517bbce6;
}

.signup-next .popup .signing .social-login .google img {
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.signup-next .popup .signing .social-login .facebook span {
    background: #0074b1e6;
}

.signup-next .popup .signing .social-login .facebook i {
    background: #0074b1;
    color: #fff;
}

.signup-next .popup .signing .signUp-content .validate span {
    font-family: var(--Roman);
}

/* FORGET */

.forget {
    margin: 60px 0;
}

.forget .popup {
    height: 764px;
}

.forget .popup .login-banner {
    height: 100%;
    width: 37%;
}

.forget .popup .login-banner .intro-data {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.forget .popup .login-banner .bullets {
    margin-top: 110px;
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.forget .popup .login-banner .bullets li:before {
    content: "-";
    padding-left: 10px;
    font-family: var(--Bold);
}

.forget .popup .signing {
    background: var(--lightBlue);
    width: 63%;
    height: 100%;
    padding: 20px 60px;
}

.forget .popup .signing ul {
    padding: 0;
    width: 60%;
    border-bottom: 1px solid var(--mainGreen);
}

.forget .popup .signing ul li {
    width: 50%;
    text-align: center;
}

.forget .popup .signing ul li a {
    color: var(--darkGray);
    font-size: 18px;
    line-height: 40px;
}

.forget .popup .signing ul li a.active {
    background: transparent;
    color: var(--darkGray);
    font-size: 22px;
    border-bottom: 4px solid var(--mainGreen);
    border-radius: 0;
    font-family: var(--Bold);
}

.forget .popup .signing .forget-content a {
    color: var(--mainGreen);
}

.forget .popup .signing .forget-content p {
    font-size: 20px;
    font-family: var(--Bold);
}

.forget .popup .signing .forget-content a i {
    line-height: 34px;
    font-size: 16px;
}

.forget .popup .signing .forget-content .backBtn {
    margin: 30px 0;
    color: var(--mainGreen);
}

.forget .popup .signing .forget-content form button {
    font-size: 20px;
    font-family: var(--Bold);
}

.forget .popup .signing .forget-content form p {
    font-size: 16px;
    font-family: var(--Bold);
}

.forget .popup .signing form label {
    margin: 0;
}

.forget .popup .signing .forget-content a.forget {
    color: var(--mainGreen);
    text-decoration: underline;
}

.forget .popup .signing .divider {
    border-top: 1px solid var(--borderColor);
    margin-top: 30px;
    margin-bottom: 20px;
}

.forget .popup .signing .social-login a span {
    font-family: var(--Bold);
    padding: 5px 15px;
}

.forget .popup .signing .social-login a {
    height: 50px;
    width: 29%;
    display: flex;
    justify-content: space-between;
}

.forget .popup .signing .social-login a i {
    width: 30%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.forget .popup .signing .social-login a span {
    line-height: 40px;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.forget .popup .signing .social-login .linkedIn span {
    background: #0074b1e6;
}

.forget .popup .signing .social-login .linkedIn i {
    background: #0074b1;
    color: #fff;
}

.forget .popup .signing .social-login .google span {
    background: #517bbce6;
}

.forget .popup .signing .social-login .google img {
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.forget .popup .signing .social-login .facebook span {
    background: #0074b1e6;
}

.forget .popup .signing .social-login .facebook i {
    background: #0074b1;
    color: #fff;
}

/* VALIDATE CODE */

.validate-code {
    margin: 60px 0;
}

.validate-code .popup {
    height: 764px;
}

.validate-code .popup .login-banner {
    height: 100%;
    width: 37%;
}

.validate-code .popup .login-banner .intro-data {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.validate-code .popup .login-banner .bullets {
    margin-top: 110px;
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.validate-code .popup .login-banner .bullets li:before {
    content: "-";
    padding-left: 10px;
    font-family: var(--Bold);
}

.validate-code .popup .signing {
    background: var(--lightBlue);
    width: 63%;
    height: 100%;
    padding: 20px 60px;
}

.validate-code .popup .signing ul {
    padding: 0;
    width: 60%;
    border-bottom: 1px solid var(--mainGreen);
}

.validate-code .popup .signing ul li {
    width: 50%;
    text-align: center;
}

.validate-code .popup .signing ul li a {
    color: var(--darkGray);
    font-size: 18px;
    line-height: 40px;
}

.validate-code .popup .signing ul li a.active {
    background: transparent;
    color: var(--darkGray);
    font-size: 22px;
    border-bottom: 4px solid var(--mainGreen);
    border-radius: 0;
    font-family: var(--Bold);
}


.validate-code .popup .signing .forget-content span {
    font-size: 14px;
}

.validate-code .popup .signing .forget-content .validate-phone {
    direction: ltr;
}

.validate-code .popup .signing .forget-content p {
    font-size: 20px;
    font-family: var(--Bold);
}

.validate-code .popup .signing .forget-content a i {
    line-height: 34px;
    font-size: 16px;
}

.validate-code .popup .signing .forget-content .backBtn {
    margin: 30px 0;
    color: var(--mainGreen);
}

.validate-code .popup .signing .forget-content form button {
    font-size: 20px;
    font-family: var(--Bold);
}

.validate-code .popup .signing .forget-content form .resend a {
    font-size: 16px;
    color: var(--mainGreen);
    text-decoration: underline;
}

.validate-code .popup .signing form label {
    margin: 0;
}

.validate-code .popup .signing .forget-content a.forget {
    color: var(--mainGreen);
    text-decoration: underline;
}

.validate-code .popup .signing .divider {
    border-top: 1px solid var(--borderColor);
    margin-top: 30px;
    margin-bottom: 20px;
}

.validate-code .popup .signing .social-login a span {
    font-family: var(--Bold);
    padding: 5px 15px;
}

.validate-code .popup .signing .social-login a {
    height: 50px;
    width: 29%;
    display: flex;
    justify-content: space-between;
}

.validate-code .popup .signing .social-login a i {
    width: 30%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.validate-code .popup .signing .social-login a span {
    line-height: 40px;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.validate-code .popup .signing .social-login .linkedIn span {
    background: #0074b1e6;
}

.validate-code .popup .signing .social-login .linkedIn i {
    background: #0074b1;
    color: #fff;
}

.validate-code .popup .signing .social-login .google span {
    background: #517bbce6;
}

.validate-code .popup .signing .social-login .google img {
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.validate-code .popup .signing .social-login .facebook span {
    background: #0074b1e6;
}

.validate-code .popup .signing .social-login .facebook i {
    background: #0074b1;
    color: #fff;
}
/* VALIDATE CODE */

.recovery {
    margin: 60px 0;
}

.recovery .popup {
    height: 764px;
}

.recovery .popup .login-banner {
    height: 100%;
    width: 37%;
}

.recovery .popup .login-banner .intro-data {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.recovery .popup .login-banner .bullets {
    margin-top: 110px;
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.recovery .popup .login-banner .bullets li:before {
    content: "-";
    padding-left: 10px;
    font-family: var(--Bold);
}

.recovery .popup .signing {
    background: var(--lightBlue);
    width: 63%;
    height: 100%;
    padding: 20px 60px;
}

.recovery .popup .signing ul {
    padding: 0;
    width: 60%;
    border-bottom: 1px solid var(--mainGreen);
}

.recovery .popup .signing ul li {
    width: 50%;
    text-align: center;
}

.recovery .popup .signing ul li a {
    color: var(--darkGray);
    font-size: 18px;
    line-height: 40px;
}

.recovery .popup .signing ul li a.active {
    background: transparent;
    color: var(--darkGray);
    font-size: 22px;
    border-bottom: 4px solid var(--mainGreen);
    border-radius: 0;
    font-family: var(--Bold);
}


.recovery .popup .signing .forget-content span {
    font-size: 14px;
}

.recovery .popup .signing .forget-content .validate-phone {
    direction: ltr;
}

.recovery .popup .signing .forget-content p {
    font-size: 20px;
    font-family: var(--Bold);
}

.recovery .popup .signing .forget-content a i {
    line-height: 34px;
    font-size: 16px;
}

.recovery .popup .signing .forget-content .backBtn {
    margin: 30px 0;
    color: var(--mainGreen);
}

.recovery .popup .signing .forget-content form button {
    font-size: 20px;
    font-family: var(--Bold);
}

.recovery .popup .signing .forget-content form .resend a {
    font-size: 16px;
    color: var(--mainGreen);
    text-decoration: underline;
}

.recovery .popup .signing form label {
    margin: 0;
}

.recovery .popup .signing .forget-content a.forget {
    color: var(--mainGreen);
    text-decoration: underline;
}

.recovery .popup .signing .divider {
    border-top: 1px solid var(--borderColor);
    margin-top: 30px;
    margin-bottom: 20px;
}

.recovery .popup .signing .social-login a span {
    font-family: var(--Bold);
    padding: 5px 15px;
}

.recovery .popup .signing .social-login a {
    height: 50px;
    width: 29%;
    display: flex;
    justify-content: space-between;
}

.recovery .popup .signing .social-login a i {
    width: 30%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.recovery .popup .signing .social-login a span {
    line-height: 40px;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.recovery .popup .signing .social-login .linkedIn span {
    background: #0074b1e6;
}

.recovery .popup .signing .social-login .linkedIn i {
    background: #0074b1;
    color: #fff;
}

.recovery .popup .signing .social-login .google span {
    background: #517bbce6;
}

.recovery .popup .signing .social-login .google img {
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.recovery .popup .signing .social-login .facebook span {
    background: #0074b1e6;
}

.recovery .popup .signing .social-login .facebook i {
    background: #0074b1;
    color: #fff;
}

/* RE ASSIGN */

.reAssign {
    margin: 60px 0;
}

.reAssign .popup {
    height: 764px;
}

.reAssign .popup .login-banner {
    height: 100%;
    width: 37%;
}

.reAssign .popup .login-banner .intro-data {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.reAssign .popup .login-banner .bullets {
    margin-top: 110px;
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.reAssign .popup .login-banner .bullets li:before {
    content: "-";
    padding-left: 10px;
    font-family: var(--Bold);
}

.reAssign .popup .signing {
    background: var(--lightBlue);
    width: 63%;
    height: 100%;
    padding: 20px 60px;
}

.reAssign .popup .signing ul {
    padding: 0;
    width: 60%;
    border-bottom: 1px solid var(--mainGreen);
}

.reAssign .popup .signing ul li {
    width: 50%;
    text-align: center;
}

.reAssign .popup .signing ul li a {
    color: var(--darkGray);
    font-size: 18px;
    line-height: 40px;
}

.reAssign .popup .signing ul li a.active {
    background: transparent;
    color: var(--darkGray);
    font-size: 22px;
    border-bottom: 4px solid var(--mainGreen);
    border-radius: 0;
    font-family: var(--Bold);
}


.reAssign .popup .signing .forget-content span {
    font-size: 14px;
}

.reAssign .popup .signing .forget-content p {
    font-size: 20px;
    font-family: var(--Bold);
}

.reAssign .popup .signing .forget-content a i {
    line-height: 34px;
    font-size: 16px;
}

.reAssign .popup .signing .forget-content .backBtn {
    margin: 30px 0;
    color: var(--mainGreen);

}

.reAssign .popup .signing .forget-content form button {
    font-size: 20px;
    font-family: var(--Bold);
}

.reAssign .popup .signing .forget-content form .resend a {
    font-size: 16px;
    color: var(--mainGreen);
    text-decoration: underline;
}

.reAssign .popup .signing form label {
    margin: 0;
}

.reAssign .popup .signing .forget-content a.forget {
    color: var(--mainGreen);
    text-decoration: underline;
}

.reAssign .popup .signing .divider {
    border-top: 1px solid var(--borderColor);
    margin-top: 30px;
    margin-bottom: 20px;
}

.reAssign .popup .signing .social-login a span {
    font-family: var(--Bold);
    padding: 5px 15px;
}

.reAssign .popup .signing .social-login a {
    height: 50px;
    width: 29%;
    display: flex;
    justify-content: space-between;
}

.reAssign .popup .signing .social-login a i {
    width: 30%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 32px;
}

.reAssign .popup .signing .social-login a span {
    line-height: 40px;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.reAssign .popup .signing .social-login .linkedIn span {
    background: #0074b1e6;
}

.reAssign .popup .signing .social-login .linkedIn i {
    background: #0074b1;
    color: #fff;
}

.reAssign .popup .signing .social-login .google span {
    background: #517bbce6;
}

.reAssign .popup .signing .social-login .google img {
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.reAssign .popup .signing .social-login .facebook span {
    background: #0074b1e6;
}

.reAssign .popup .signing .social-login .facebook i {
    background: #0074b1;
    color: #fff;
}
